html, body {
    margin: 0;
    padding: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

video#mplay {
    width: 90%;
    height: 70%;
}

.stat {
    text-align: center;
    font-size: 15px;
    background-color: whitesmoke;
    padding: 0.25rem;
    width: 100%;
    margin: 0;
}

.enterl {
    text-align: center;
}

.enterl .formc {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 30%;
    padding: .375rem;
    font-size: 1rem;
    border-radius: .25rem;
    text-align: center;
    transition: width .35s ease-in-out;
}

.enterl .formc:hover {
    width: 60%;
}

.enterl .formc:focus {
    width: 60%;
}

.music {
    padding: 2rem;
    color: white;
}

.music a {
    color: white;
    text-decoration: none;
}

.music a:hover {
    color: lightgray;
    text-decoration: none;
}

.fixed_ft {
    position: fixed;
    bottom: 0;
    background-color: #242424;
    width: 100%;
    padding: 0;
}

.detailed {
    color: white;
    font-size: 18px;
    padding-top: 0.3rem;
}

.detailed a {
    text-decoration: none;
    color: white;
}
.detailed a:hover {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.fixed_ft button {
    background-color: #373737;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.fixed_ft button:hover {
    background-color: #494949;
}

.fixed_ft button img {
    width: 100%;
    height: 100%;
}

.dur-h {
    padding-top: 0.5rem;
}

#dur {
    width: 100%;
    height: 50%;
}